@import "tailwindcss";
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
#root{
 font-family: "Roboto", sans-serif;
font-optical-sizing: auto;
font-style: normal;
}